PORT=3001
ENV=development
POSTGRESQL_URI=YOUR_POSTGRESQL_URI
REDIS_URL=REDIS_URL
FRONTEND_URL=http://localhost:3000
BULL_REDIS_URL=BULL_REDIS_URL
RESEND_API_KEY=YOUR_RESEND_API_KEY
ACCESS_TOKEN_SECRET=ACCESS_TOKEN_SECRET
REFRESH_TOKEN_SECRET=ACCESS_TOKEN_SECRET
RESET_PASSWORD_TOKEN=RESET_PASSWORD_TOKEN
EMAIL_VERIFY_JWT_TOKEN=EMAIL_VERIFY_JWT_TOKEN
COOKIE_DOMAIN=.sandeeprajput.in
CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET
RAZORPAY_KEY_ID=YOUR_RAZORPAY_KEY_ID
RAZORPAY_KEY_SECRET=YOUR_RAZORPAY_KEY_SECRET