PORT=3001
ENV=development OR production
POSTGRESQL_URI=YOUR_POSTGRESQL_URI
REDIS_URL=REDIS_URL
FRONTEND_URL=https://opsignal.sandeeprajput.in,http://localhost:3000
BULL_REDIS_URL=BULL_REDIS_URL
RESEND_API_KEY=YOUR_RESEND_API_KEY
LOGIN_JWT_TOKEN_KEY=LOGIN_JWT_TOKEN