PORT=3001
ENV=development OR production
POSTGRESQL_URI=YOUR_POSTGRESQL_URI
REDIS_URL=REDIS_URL
FRONTEND_URL=https://opsignal.sandeeprajput.in,http://localhost:3000
BULL_REDIS_URL=BULL_REDIS_URL
RESEND_API_KEY=YOUR_RESEND_API_KEY
ACCESS_TOKEN_SECRET=ACCESS_TOKEN_SECRET
REFRESH_TOKEN_SECRET=ACCESS_TOKEN_SECRET
EMAIL_VERIFY_JWT_TOKEN=EMAIL_VERIFY_JWT_TOKEN
COOKIE_DOMAIN=.sandeeprajput.in