@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-background: #f6f6ff;
  --color-primary: #2563eb;
  --color-foreground: #171717;
  --color-secondary: #646464;
  --color-tertiary: #8b8b8b;
  --color-secondary-foreground: #f0f0f9;
  --color-card: #ffffff;
}

@theme dark {
  --color-background: #000000;
  --color-primary: #2563eb;
  --color-foreground: #ffffff;
  --color-secondary: #b2b2b2;
  --color-tertiary: #8b8b8b;
  --color-secondary-background: #f0f0f9;
  --color-card: #0d0d0d;
}

.dark {
  --color-background: #000000;
  --color-foreground: #ffffff;
  --color-primary: #2563eb;
  --color-secondary: #b2b2b2;
  --color-tertiary: #8b8b8b;
  --color-secondary-background: #121212;
  --color-card: #0d0d0d;
}
